html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #EEE;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

.wrapper {
  width: 100%;
}

.column {
  vertical-align: top;
  display: inline-block;
  width: 50%;
  padding: 25px;
}

.column__title {
  text-align: center;
  font-weight: 300;
}

table {
  width: 100%;
  thead {
    border-bottom: 1px solid #ccc;
  }
  tfoot {
    border-top: 1px solid #ccc;
    color: #777;
  }
  td, th {
    padding: 5px;
    text-align: left;
  }
}

.table__action {
  text-align: right;
}

.table__button {
  background-color: transparent;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: .2em 1em .1em 1em;
  font-size: 12px;
  text-transform: uppercase;
  &:focus {
    outline: none;
  }
}

.table__button--add {
  background-color: lightgreen;
  border: 1px solid darken(lightgreen, 10%);
  &:active {
    background-color: darken(lightgreen, 10%);
  }
}

.table__button--remove {
  background-color: tomato;
  border: 1px solid darken(tomato, 10%);
  color: white;
  &:active {
    background-color: darken(tomato, 10%);
  }
}
